header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    justify-content: left;
}

.nav-right {
    margin-left: 50px;
    display: flex;
    gap: 12px;
}