<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header class="site-header">
      <nav class="nav">
        <div class="nav-left">
          <a class="brand" href="{{ url_for('index') }}">PyChat</a>
        </div>
        <div class="nav-right">
          <a class="nav-link" href="{{ url_for('account')}}">My Account</a>
          <a class="nav-link" href="{{ url_for('index') }}">Global Chat</a>
          <a class="nav-link" href="{{ url_for('dms') }}">Direct Messages</a>
          <a class="nav-link logout-link" href="{{ url_for('logout')}}">Logout</a>
        </div>
      </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
      <p>© 2025 Project IA4. PyChat</p>
    </footer>

    {% block script %}
    {% endblock %}

  </body>
</html>