{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}

{% block content %}
  <h1>Global Chat</h1>
    <div id="chat">
        {% for msg in history %}
            <div class="msg-bubble {{ 'msg-sent' if msg.username == username else 'msg-received' }}">
                {% if msg.username != username %}
                    <div class="sender-name">
                        <a href="{{ url_for('profile', username=msg.username) }}">
                            {{ msg.username }}
                        </a>
                    </div>
                {% endif %}
                
                {% if msg.image %}
                    <img src="{{ url_for('static', filename='chat_uploads/' + msg.image) }}" class="chat-image">
                {% endif %}
                
                {% if msg.msg %}
                    <div class="msg-text">{{ msg.msg }}</div>
                {% endif %}
            </div>
        {% endfor %}
  </div>

  <div id="controls">
    <label for="image-input" class="upload-btn">
        📷
    </label>
    <input type="file" id="image-input" accept="image/*" style="display: none;">
    
    <textarea id="message" placeholder="Type a message..." rows="1"></textarea>
    <button id="send">Send</button>
</div>
  
  <script>
    window.currentUsername = "{{ username }}";
  </script>
{% endblock %}

{% block script %}
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}