{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}

{% block content %}

  <h1>Simple Chat</h1>
  <label>Username: <input id="username" type="text" placeholder="Your name" /></label>
  <div id="chat"></div>


  <div id="controls">
    <input id="message" type="text" placeholder="Type a message..." autocomplete="off" />
    <button id="send">Send</button>
  </div>

{% endblock %}

{% block script %}
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}